In [9]:
import pandas as pd
import numpy as np
file_name = 'C:/Users/b2tanhe/Desktop/Sales_Transactions_Dataset_Weekly.csv'

df = pd.read_csv(file_name)
df.head()

,Product_Code,W0,W1,W2,W3,W4,W5,W6,W7,W8,...,Normalized 42,Normalized 43,Normalized 44,Normalized 45,Normalized 46,Normalized 47,Normalized 48,Normalized 49,Normalized 50,Normalized 51
0,P1,11,12,10,8,13,12,14,21,6,...,0.06,0.22,0.28,0.39,0.50,0.00,0.22,0.17,0.11,0.39
1,P2,7,6,3,2,7,1,6,3,3,...,0.20,0.40,0.50,0.10,0.10,0.40,0.50,0.10,0.60,0.00
2,P3,7,11,8,9,10,8,7,13,12,...,0.27,1.00,0.18,0.18,0.36,0.45,1.00,0.45,0.45,0.36
3,P4,12,8,13,5,9,6,9,13,13,...,0.41,0.47,0.06,0.12,0.24,0.35,0.71,0.35,0.29,0.35
4,P5,8,5,13,11,6,7,9,14,9,...,0.27,0.53,0.27,0.60,0.20,0.20,0.13,0.53,0.33,0.40

In [10]:
#Only select column 'Product_Code' and the 52 weeks columns for further processing

new_df = df.iloc[:,:53]
print(new_df)

    Product_Code  W0  W1  W2  W3  W4  W5  W6  W7  W8 ...   W42  W43  W44  W45  \
0             P1  11  12  10   8  13  12  14  21   6 ...     4    7    8   10
1             P2   7   6   3   2   7   1   6   3   3 ...     2    4    5    1
2             P3   7  11   8   9  10   8   7  13  12 ...     6   14    5    5
3             P4  12   8  13   5   9   6   9  13  13 ...     9   10    3    4
4             P5   8   5  13  11   6   7   9  14   9 ...     7   11    7   12
5             P6   3   3   2   7   6   3   8   6   6 ...     4    2    4    3
6             P7   4   8   3   7   8   7   2   3  10 ...     2    3    3    6
7             P8   8   6  10   9   6   8   7   5  10 ...    10   14    4    8
8             P9  14   9  10   7  11  15  12   7  13 ...    11    5   13    3
9            P10  22  19  19  29  20  16  26  20  24 ...    14   17   11   24
10           P11  15   7  15  14  17   7  10  16  11 ...    11   16   12   11
11           P12   3   4   1   6   4   3   7   3   5 ...     4    2    4    5
12           P13  12  10   9   6  10  11  18   8  10 ...     4    9    5    8
13           P14  14  12   9  11  13  12   8  12  13 ...    14    6    3    9
14           P15  19  45  47  42  29  44  43  36  25 ...    38   35   33   30
15           P16  30  27  27  43  29  32  49  41  49 ...    40   30   33   39
16           P17  49  40  40  28  40  47  44  45  39 ...    36   31   36   35
17           P18  40  38  39  38  39  33  28  44  36 ...    30   29   29   41
18           P19  26  31  45  36  31  28  28  34  42 ...    31   19   24   32
19           P20  13  17  11  10   7  11  17   8  12 ...     7    8    8    9
20           P21  12   5   9   8   9   6  10  13   6 ...    13    5    8   10
21           P22   8  14   8   9  17   6  17  15  11 ...     7    3    7   12
22           P23   3   5   4   3   3   2   5   4   5 ...     3    3    4    5
23           P24  36  42  27  33  40  48  38  39  41 ...    38   36   39   32
24           P25  26  28  33  32  20  33  42  29  24 ...    32   27   40   33
25           P26  14  14   9   8   9   7   9  11  10 ...    15    5    9    3
26           P27  44  34  33  39  34  30  47  27  45 ...    40   33   32   26
27           P28  34  32  36  41  31  31  32  29  43 ...    32   35   41   34
28           P29  13  10  12  17  17  11  15  16  10 ...    10   13    6    9
29           P30  46  36  45  34  35  36  43  28  26 ...    18   32   35   39
..           ...  ..  ..  ..  ..  ..  ..  ..  ..  .. ...   ...  ...  ...  ...
781         P790   3   1   5   2   0   4   3   4   0 ...     1    1    5    2
782         P791   4   3   4   2   6   6   6   7   6 ...     4    8    3    6
783         P792   0   1   0   1   0   3   1   2   2 ...     3    0    0    2
784         P793   0   1   1   4   2   1   1   3   1 ...     5    4    3    3
785         P794   0   0   1   0   0   0   1   0   0 ...     0    1    5    2
786         P795   0   0   0   1   0   0   0   0   1 ...     0    1    0    0
787         P796   2   5   0   3   3   0   4   1   4 ...     1    1    2    4
788         P797   2   3   2   2   2   3   3   4   3 ...     3    0    1    2
789         P798   6   0   3   1   0   2   1   3   1 ...     3    0    3    1
790         P799   3   3   5   3   5   4   2   2   1 ...     4    4    4    6
791         P800   3   2   1   0   0   0   1   2   0 ...     2    1    2    1
792         P801   3   2   0   3   2   3   3   1   6 ...     3    4    5    1
793         P802   1   1   1   0   3   2   1   0   0 ...     0    0    0    4
794         P803   3   2   3   3   7   3   1   3   3 ...     3    0    4    4
795         P804   2   2   5   3   1   4   5   1   2 ...     2    1    2    3
796         P805   0   6   3   2   5   2   0   1   3 ...     2    1    5    1
797         P806   4   5   7   4   7   2   7   4   5 ...     8    5    7    6
798         P807   0   0   2   0   1   0   0   2   0 ...     2    1    0    1
799         P808   0   3   3   3   1   2   3   2   3 ...     2    5    1    4
800         P809   0   1   0   1   1   0   1   0   0 ...     0    1    2    0
801         P810   0   0   1   0   0   0   0   0   0 ...     1    1    1    0
802         P811   5   1   3   5   4   4   4   2   2 ...     0    4    4    5
803         P812   3   2   0   0   2   1   0   2   2 ...     0    1    3    1
804         P813   1   1   1   3   2   2   5   5   1 ...     0    5    2    1
805         P814   4   2   2   6   0   4   7   8   3 ...     6    7    3    4
806         P815   0   0   1   0   0   2   1   0   0 ...     0    1    1    0
807         P816   0   1   0   0   1   2   2   6   0 ...     3    3    4    2
808         P817   1   0   0   0   1   1   2   1   1 ...     2    0    0    2
809         P818   0   0   0   1   0   0   0   0   1 ...     0    0    0    1
810         P819   0   1   0   0   0   0   0   0   0 ...     0    0    0    0

     W46  W47  W48  W49  W50  W51
0     12    3    7    6    5   10
1      1    4    5    1    6    0
2      7    8   14    8    8    7
3      6    8   14    8    7    8
4      6    6    5   11    8    9
5      6    5    3    3   10    6
6      2    6    2    4    2    1
7      8    6    7    4    9    9
8      7    7   10   12    7   13
9     13   16   18   23   18   20
10    13    8   17   10   10   21
11     1    3    2    4    6    3
12     7   19   14   11    9    5
13    15    8   11   13   12   18
14    37   30   30   34   38   20
15    42   45   31   31   23   22
16    43   28   30   30   26   25
17    35   22   28   29   29   23
18    36   30   33   29   27   29
19    17    2    9    6   12    9
20    10   11   11   12    5    5
21    11   15   13    4   11    5
22     2    1    6    2    4    0
23    31   39   23   40   32   14
24    29   35   30   29   25   20
25    13    9   10   11   10   21
26    26   29   44   30   34   28
27    29   30   27   26   34   25
28     5   12   15   11   10   16
29    32   29   23   28   18   21
..   ...  ...  ...  ...  ...  ...
781    3    1    4    3    1    3
782    6    4    4   13    6   13
783    3    1    2    4    1    4
784    3    6    3    8    7    9
785    1    0    2    1    2    3
786    0    0    1    0    1    2
787    5    4    2    4   10    4
788    3    8    5    4    6    3
789    5    2    2    2    2    5
790    6    4    5   11    9   10
791    2    3    3    4    4    3
792    1    3    6    3    4   12
793    0    1    2    1    2    2
794    6    3    1    2    8    9
795    4    4    4    4    6    0
796    4    4    1    4    2    3
797    5    9    5   11    8    8
798    2    2    4    3    5    4
799    3    1    5    5    7   14
800    0    1    2    0    4    2
801    0    1    0    0    0    1
802    6    3    4    5    3    5
803    3    3    2    0    1    4
804    1    1    3    1    4    4
805    4    8    4   16    7   11
806    0    1    0    0    2    0
807    4    5    5    5    6    5
808    2    0    0    0    4    3
809    1    0    0    0    2    0
810    0    0    0    0    0    1

[811 rows x 53 columns]

In [11]:
#Sum all the number of sales for 52 weeks of all products

columns = ['W'+str(i) for i in range(0, 52)]

total_df = new_df[columns].sum(axis=1)

print(total_df)

0       501
1       207
2       452
3       430
4       440
5       220
6       213
7       450
8       539
9      1010
10      601
11      203
12      470
13      615
14     1805
15     1875
16     1765
17     1682
18     1687
19      465
20      462
21      487
22      215
23     1877
24     1602
25      535
26     1804
27     1696
28      628
29     1690
       ...
781     126
782     287
783      74
784     157
785      34
786      23
787     173
788     153
789     119
790     251
791      76
792     150
793      38
794     185
795     152
796     138
797     269
798      68
799     162
800      40
801      20
802     184
803      80
804     122
805     266
806      23
807     142
808      26
809      17
810      16
Length: 811, dtype: int64

In [12]:
# Get the max value of all the total sales of all products

total_df.max()

2220

In [13]:
#Identify the index position of the highest sales product

total_df.idxmax(axis=0)

406

In [14]:
#Locate the product based on the index position

best_product = df.iloc[[total_df.idxmax(axis=0)]] 

print('Best performing product is', best_product['Product_Code'])

Best performing product is 406    P409
Name: Product_Code, dtype: object

In [17]:
#Question 2c
#Define promising products as the top 5% highest selling products
#Start by sorting the total sum of all the products

sorted_df = total_df.sort_values(axis=0, ascending=False)

print(sorted_df)

406    2220
33     1932
177    1925
134    1920
42     1913
189    1912
178    1904
172    1897
91     1896
136    1894
37     1892
173    1886
23     1877
15     1875
39     1864
53     1860
135    1859
192    1859
36     1858
190    1854
179    1853
100    1849
35     1843
65     1842
133    1841
74     1835
128    1832
127    1825
174    1824
62     1823
       ...
641       2
229       2
649       2
644       2
703       2
642       2
227       2
425       2
468       2
651       2
465       2
464       2
249       2
252       2
418       2
715       2
754       2
278       2
379       2
380       2
381       2
751       2
675       1
214       1
679       1
466       1
258       1
253       1
714       1
250       1
Length: 811, dtype: int64

In [16]:
pd.qcut(sorted_df, [0.95])
print(pd.qcut(sorted_df, [0.95]))

IndexError: index 0 is out of bounds for axis 0 with size 0