In [2]:
import pandas as pd
import numpy as np

file_name = 'C:/Users/b2tanhe/Desktop/Sales_Transactions_Dataset_Weekly.csv'

df = pd.read_csv(file_name)
df.head()

,Product_Code,W0,W1,W2,W3,W4,W5,W6,W7,W8,...,Normalized 42,Normalized 43,Normalized 44,Normalized 45,Normalized 46,Normalized 47,Normalized 48,Normalized 49,Normalized 50,Normalized 51
0,P1,11,12,10,8,13,12,14,21,6,...,0.06,0.22,0.28,0.39,0.50,0.00,0.22,0.17,0.11,0.39
1,P2,7,6,3,2,7,1,6,3,3,...,0.20,0.40,0.50,0.10,0.10,0.40,0.50,0.10,0.60,0.00
2,P3,7,11,8,9,10,8,7,13,12,...,0.27,1.00,0.18,0.18,0.36,0.45,1.00,0.45,0.45,0.36
3,P4,12,8,13,5,9,6,9,13,13,...,0.41,0.47,0.06,0.12,0.24,0.35,0.71,0.35,0.29,0.35
4,P5,8,5,13,11,6,7,9,14,9,...,0.27,0.53,0.27,0.60,0.20,0.20,0.13,0.53,0.33,0.40

In [3]:
#Only select column 'Product_Code' and the 52 weeks columns for further processing

new_df = df.iloc[:,1:53]
print(new_df)

     W0  W1  W2  W3  W4  W5  W6  W7  W8  W9 ...   W42  W43  W44  W45  W46  \
0    11  12  10   8  13  12  14  21   6  14 ...     4    7    8   10   12
1     7   6   3   2   7   1   6   3   3   3 ...     2    4    5    1    1
2     7  11   8   9  10   8   7  13  12   6 ...     6   14    5    5    7
3    12   8  13   5   9   6   9  13  13  11 ...     9   10    3    4    6
4     8   5  13  11   6   7   9  14   9   9 ...     7   11    7   12    6
5     3   3   2   7   6   3   8   6   6   3 ...     4    2    4    3    6
6     4   8   3   7   8   7   2   3  10   3 ...     2    3    3    6    2
7     8   6  10   9   6   8   7   5  10  10 ...    10   14    4    8    8
8    14   9  10   7  11  15  12   7  13  12 ...    11    5   13    3    7
9    22  19  19  29  20  16  26  20  24  20 ...    14   17   11   24   13
10   15   7  15  14  17   7  10  16  11   8 ...    11   16   12   11   13
11    3   4   1   6   4   3   7   3   5   3 ...     4    2    4    5    1
12   12  10   9   6  10  11  18   8  10  17 ...     4    9    5    8    7
13   14  12   9  11  13  12   8  12  13  10 ...    14    6    3    9   15
14   19  45  47  42  29  44  43  36  25  52 ...    38   35   33   30   37
15   30  27  27  43  29  32  49  41  49  38 ...    40   30   33   39   42
16   49  40  40  28  40  47  44  45  39  33 ...    36   31   36   35   43
17   40  38  39  38  39  33  28  44  36  36 ...    30   29   29   41   35
18   26  31  45  36  31  28  28  34  42  40 ...    31   19   24   32   36
19   13  17  11  10   7  11  17   8  12  10 ...     7    8    8    9   17
20   12   5   9   8   9   6  10  13   6  12 ...    13    5    8   10   10
21    8  14   8   9  17   6  17  15  11  13 ...     7    3    7   12   11
22    3   5   4   3   3   2   5   4   5   5 ...     3    3    4    5    2
23   36  42  27  33  40  48  38  39  41  39 ...    38   36   39   32   31
24   26  28  33  32  20  33  42  29  24  32 ...    32   27   40   33   29
25   14  14   9   8   9   7   9  11  10  14 ...    15    5    9    3   13
26   44  34  33  39  34  30  47  27  45  39 ...    40   33   32   26   26
27   34  32  36  41  31  31  32  29  43  33 ...    32   35   41   34   29
28   13  10  12  17  17  11  15  16  10  12 ...    10   13    6    9    5
29   46  36  45  34  35  36  43  28  26  33 ...    18   32   35   39   32
..   ..  ..  ..  ..  ..  ..  ..  ..  ..  .. ...   ...  ...  ...  ...  ...
781   3   1   5   2   0   4   3   4   0   4 ...     1    1    5    2    3
782   4   3   4   2   6   6   6   7   6   4 ...     4    8    3    6    6
783   0   1   0   1   0   3   1   2   2   0 ...     3    0    0    2    3
784   0   1   1   4   2   1   1   3   1   2 ...     5    4    3    3    3
785   0   0   1   0   0   0   1   0   0   1 ...     0    1    5    2    1
786   0   0   0   1   0   0   0   0   1   0 ...     0    1    0    0    0
787   2   5   0   3   3   0   4   1   4   5 ...     1    1    2    4    5
788   2   3   2   2   2   3   3   4   3   2 ...     3    0    1    2    3
789   6   0   3   1   0   2   1   3   1   3 ...     3    0    3    1    5
790   3   3   5   3   5   4   2   2   1   3 ...     4    4    4    6    6
791   3   2   1   0   0   0   1   2   0   0 ...     2    1    2    1    2
792   3   2   0   3   2   3   3   1   6   1 ...     3    4    5    1    1
793   1   1   1   0   3   2   1   0   0   0 ...     0    0    0    4    0
794   3   2   3   3   7   3   1   3   3   1 ...     3    0    4    4    6
795   2   2   5   3   1   4   5   1   2   3 ...     2    1    2    3    4
796   0   6   3   2   5   2   0   1   3   1 ...     2    1    5    1    4
797   4   5   7   4   7   2   7   4   5   7 ...     8    5    7    6    5
798   0   0   2   0   1   0   0   2   0   2 ...     2    1    0    1    2
799   0   3   3   3   1   2   3   2   3   1 ...     2    5    1    4    3
800   0   1   0   1   1   0   1   0   0   2 ...     0    1    2    0    0
801   0   0   1   0   0   0   0   0   0   0 ...     1    1    1    0    0
802   5   1   3   5   4   4   4   2   2   3 ...     0    4    4    5    6
803   3   2   0   0   2   1   0   2   2   2 ...     0    1    3    1    3
804   1   1   1   3   2   2   5   5   1   3 ...     0    5    2    1    1
805   4   2   2   6   0   4   7   8   3   2 ...     6    7    3    4    4
806   0   0   1   0   0   2   1   0   0   1 ...     0    1    1    0    0
807   0   1   0   0   1   2   2   6   0   1 ...     3    3    4    2    4
808   1   0   0   0   1   1   2   1   1   0 ...     2    0    0    2    2
809   0   0   0   1   0   0   0   0   1   0 ...     0    0    0    1    1
810   0   1   0   0   0   0   0   0   0   0 ...     0    0    0    0    0

     W47  W48  W49  W50  W51
0      3    7    6    5   10
1      4    5    1    6    0
2      8   14    8    8    7
3      8   14    8    7    8
4      6    5   11    8    9
5      5    3    3   10    6
6      6    2    4    2    1
7      6    7    4    9    9
8      7   10   12    7   13
9     16   18   23   18   20
10     8   17   10   10   21
11     3    2    4    6    3
12    19   14   11    9    5
13     8   11   13   12   18
14    30   30   34   38   20
15    45   31   31   23   22
16    28   30   30   26   25
17    22   28   29   29   23
18    30   33   29   27   29
19     2    9    6   12    9
20    11   11   12    5    5
21    15   13    4   11    5
22     1    6    2    4    0
23    39   23   40   32   14
24    35   30   29   25   20
25     9   10   11   10   21
26    29   44   30   34   28
27    30   27   26   34   25
28    12   15   11   10   16
29    29   23   28   18   21
..   ...  ...  ...  ...  ...
781    1    4    3    1    3
782    4    4   13    6   13
783    1    2    4    1    4
784    6    3    8    7    9
785    0    2    1    2    3
786    0    1    0    1    2
787    4    2    4   10    4
788    8    5    4    6    3
789    2    2    2    2    5
790    4    5   11    9   10
791    3    3    4    4    3
792    3    6    3    4   12
793    1    2    1    2    2
794    3    1    2    8    9
795    4    4    4    6    0
796    4    1    4    2    3
797    9    5   11    8    8
798    2    4    3    5    4
799    1    5    5    7   14
800    1    2    0    4    2
801    1    0    0    0    1
802    3    4    5    3    5
803    3    2    0    1    4
804    1    3    1    4    4
805    8    4   16    7   11
806    1    0    0    2    0
807    5    5    5    6    5
808    0    0    0    4    3
809    0    0    0    2    0
810    0    0    0    0    1

[811 rows x 52 columns]

In [4]:
#Identified the 99% quartile value of each products

std_dev_df = new_df.quantile(q=0.99, axis=1)

print(std_dev_df)

0      18.96
1       9.49
2      14.00
3      16.96
4      16.47
5      10.49
6      10.00
7      15.00
8      18.00
9      31.98
10     19.98
11      7.98
12     18.49
13     23.47
14     51.49
15     51.45
16     50.98
17     45.96
18     48.00
19     17.00
20     14.49
21     17.49
22      8.49
23     52.49
24     46.47
25     20.49
26     51.49
27     43.49
28     21.94
29     46.00
       ...
781     6.47
782    13.00
783     4.00
784     8.49
785     4.49
786     2.49
787     9.49
788     8.49
789     5.49
790    10.49
791     4.49
792     8.94
793     3.49
794     9.00
795     6.49
796     6.98
797     9.98
798     5.49
799    10.43
800     3.49
801     3.00
802     7.98
803     4.98
804     6.47
805    13.96
806     2.49
807     7.00
808     3.49
809     2.00
810     3.00
Name: 0.99, Length: 811, dtype: float64

In [5]:
#Added in the existing product_code/weeks dataframe with the 99% quartile result

new_df['std_dev'] = std_dev_df

print(new_df)

     W0  W1  W2  W3  W4  W5  W6  W7  W8  W9   ...     W43  W44  W45  W46  W47  \
0    11  12  10   8  13  12  14  21   6  14   ...       7    8   10   12    3
1     7   6   3   2   7   1   6   3   3   3   ...       4    5    1    1    4
2     7  11   8   9  10   8   7  13  12   6   ...      14    5    5    7    8
3    12   8  13   5   9   6   9  13  13  11   ...      10    3    4    6    8
4     8   5  13  11   6   7   9  14   9   9   ...      11    7   12    6    6
5     3   3   2   7   6   3   8   6   6   3   ...       2    4    3    6    5
6     4   8   3   7   8   7   2   3  10   3   ...       3    3    6    2    6
7     8   6  10   9   6   8   7   5  10  10   ...      14    4    8    8    6
8    14   9  10   7  11  15  12   7  13  12   ...       5   13    3    7    7
9    22  19  19  29  20  16  26  20  24  20   ...      17   11   24   13   16
10   15   7  15  14  17   7  10  16  11   8   ...      16   12   11   13    8
11    3   4   1   6   4   3   7   3   5   3   ...       2    4    5    1    3
12   12  10   9   6  10  11  18   8  10  17   ...       9    5    8    7   19
13   14  12   9  11  13  12   8  12  13  10   ...       6    3    9   15    8
14   19  45  47  42  29  44  43  36  25  52   ...      35   33   30   37   30
15   30  27  27  43  29  32  49  41  49  38   ...      30   33   39   42   45
16   49  40  40  28  40  47  44  45  39  33   ...      31   36   35   43   28
17   40  38  39  38  39  33  28  44  36  36   ...      29   29   41   35   22
18   26  31  45  36  31  28  28  34  42  40   ...      19   24   32   36   30
19   13  17  11  10   7  11  17   8  12  10   ...       8    8    9   17    2
20   12   5   9   8   9   6  10  13   6  12   ...       5    8   10   10   11
21    8  14   8   9  17   6  17  15  11  13   ...       3    7   12   11   15
22    3   5   4   3   3   2   5   4   5   5   ...       3    4    5    2    1
23   36  42  27  33  40  48  38  39  41  39   ...      36   39   32   31   39
24   26  28  33  32  20  33  42  29  24  32   ...      27   40   33   29   35
25   14  14   9   8   9   7   9  11  10  14   ...       5    9    3   13    9
26   44  34  33  39  34  30  47  27  45  39   ...      33   32   26   26   29
27   34  32  36  41  31  31  32  29  43  33   ...      35   41   34   29   30
28   13  10  12  17  17  11  15  16  10  12   ...      13    6    9    5   12
29   46  36  45  34  35  36  43  28  26  33   ...      32   35   39   32   29
..   ..  ..  ..  ..  ..  ..  ..  ..  ..  ..   ...     ...  ...  ...  ...  ...
781   3   1   5   2   0   4   3   4   0   4   ...       1    5    2    3    1
782   4   3   4   2   6   6   6   7   6   4   ...       8    3    6    6    4
783   0   1   0   1   0   3   1   2   2   0   ...       0    0    2    3    1
784   0   1   1   4   2   1   1   3   1   2   ...       4    3    3    3    6
785   0   0   1   0   0   0   1   0   0   1   ...       1    5    2    1    0
786   0   0   0   1   0   0   0   0   1   0   ...       1    0    0    0    0
787   2   5   0   3   3   0   4   1   4   5   ...       1    2    4    5    4
788   2   3   2   2   2   3   3   4   3   2   ...       0    1    2    3    8
789   6   0   3   1   0   2   1   3   1   3   ...       0    3    1    5    2
790   3   3   5   3   5   4   2   2   1   3   ...       4    4    6    6    4
791   3   2   1   0   0   0   1   2   0   0   ...       1    2    1    2    3
792   3   2   0   3   2   3   3   1   6   1   ...       4    5    1    1    3
793   1   1   1   0   3   2   1   0   0   0   ...       0    0    4    0    1
794   3   2   3   3   7   3   1   3   3   1   ...       0    4    4    6    3
795   2   2   5   3   1   4   5   1   2   3   ...       1    2    3    4    4
796   0   6   3   2   5   2   0   1   3   1   ...       1    5    1    4    4
797   4   5   7   4   7   2   7   4   5   7   ...       5    7    6    5    9
798   0   0   2   0   1   0   0   2   0   2   ...       1    0    1    2    2
799   0   3   3   3   1   2   3   2   3   1   ...       5    1    4    3    1
800   0   1   0   1   1   0   1   0   0   2   ...       1    2    0    0    1
801   0   0   1   0   0   0   0   0   0   0   ...       1    1    0    0    1
802   5   1   3   5   4   4   4   2   2   3   ...       4    4    5    6    3
803   3   2   0   0   2   1   0   2   2   2   ...       1    3    1    3    3
804   1   1   1   3   2   2   5   5   1   3   ...       5    2    1    1    1
805   4   2   2   6   0   4   7   8   3   2   ...       7    3    4    4    8
806   0   0   1   0   0   2   1   0   0   1   ...       1    1    0    0    1
807   0   1   0   0   1   2   2   6   0   1   ...       3    4    2    4    5
808   1   0   0   0   1   1   2   1   1   0   ...       0    0    2    2    0
809   0   0   0   1   0   0   0   0   1   0   ...       0    0    1    1    0
810   0   1   0   0   0   0   0   0   0   0   ...       0    0    0    0    0

     W48  W49  W50  W51  std_dev
0      7    6    5   10    18.96
1      5    1    6    0     9.49
2     14    8    8    7    14.00
3     14    8    7    8    16.96
4      5   11    8    9    16.47
5      3    3   10    6    10.49
6      2    4    2    1    10.00
7      7    4    9    9    15.00
8     10   12    7   13    18.00
9     18   23   18   20    31.98
10    17   10   10   21    19.98
11     2    4    6    3     7.98
12    14   11    9    5    18.49
13    11   13   12   18    23.47
14    30   34   38   20    51.49
15    31   31   23   22    51.45
16    30   30   26   25    50.98
17    28   29   29   23    45.96
18    33   29   27   29    48.00
19     9    6   12    9    17.00
20    11   12    5    5    14.49
21    13    4   11    5    17.49
22     6    2    4    0     8.49
23    23   40   32   14    52.49
24    30   29   25   20    46.47
25    10   11   10   21    20.49
26    44   30   34   28    51.49
27    27   26   34   25    43.49
28    15   11   10   16    21.94
29    23   28   18   21    46.00
..   ...  ...  ...  ...      ...
781    4    3    1    3     6.47
782    4   13    6   13    13.00
783    2    4    1    4     4.00
784    3    8    7    9     8.49
785    2    1    2    3     4.49
786    1    0    1    2     2.49
787    2    4   10    4     9.49
788    5    4    6    3     8.49
789    2    2    2    5     5.49
790    5   11    9   10    10.49
791    3    4    4    3     4.49
792    6    3    4   12     8.94
793    2    1    2    2     3.49
794    1    2    8    9     9.00
795    4    4    6    0     6.49
796    1    4    2    3     6.98
797    5   11    8    8     9.98
798    4    3    5    4     5.49
799    5    5    7   14    10.43
800    2    0    4    2     3.49
801    0    0    0    1     3.00
802    4    5    3    5     7.98
803    2    0    1    4     4.98
804    3    1    4    4     6.47
805    4   16    7   11    13.96
806    0    0    2    0     2.49
807    5    5    6    5     7.00
808    0    0    4    3     3.49
809    0    0    2    0     2.00
810    0    0    0    1     3.00

[811 rows x 53 columns]

In [6]:
#For each product, compare all the week sales volume to the 99% quartile value.
#If there is one week sales value larger than the 99% quartile value, record the week number.
#Else, that product has no outlier sales on a particular week.

outlier_week = std_dev_df

for i in range (0,811):
    outlier_week[i] = ''

for i in range(0,52):
    for j in range (0, 811):
        if new_df.iloc[j]['W'+str(i)] > new_df.iloc[j]['std_dev']:
            outlier_week[j] = 'W'+str(i)

print('The outlier data corresponding to its week of each product is as listed in ascending order:')
print(outlier_week)

The outlier data corresponding to its week of each product is as listed in ascending order:
0       W7
1      W35
2
3      W35
4      W11
5      W33
6
7
8
9      W19
10     W51
11     W38
12     W47
13     W14
14      W9
15     W14
16     W13
17     W22
18
19
20     W12
21     W11
22     W24
23     W12
24     W18
25     W51
26     W16
27     W11
28     W17
29
      ...
781    W24
782
783
784    W51
785    W44
786    W27
787    W50
788    W25
789     W0
790    W49
791    W36
792    W51
793    W45
794
795    W24
796    W23
797    W49
798    W23
799    W51
800    W50
801
802    W25
803    W11
804    W23
805    W49
806    W16
807
808    W50
809
810
Name: 0.99, Length: 811, dtype: object